{% extends 'layouts/base.html' %} {% load static %} {% block title %} |
biography {% endblock %} {% block content %}
<div class="container-fluid photos">
  {% for bio in bios %}
  <div class="row justify-content-center">
    <div class="col-md-6 pt-4">
      <figure class="mb-5" data-aos="fade-up">
        <img src="{{ bio.image.url }}" alt="Image" class="img-fluid" />
      </figure>
      <h2 class="text-white mb-4" data-aos="fade-up">{{ bio.title }}</h2>
      <div class="row" data-aos="fade-up">
        <div class="col-md-12">
          <p>{{ bio.description }}</p>
          <p cass="mt-4">
            Thanks! <br />
            {{ bio.author.username }}
          </p>
        </div>
      </div>
    </div>
  </div>

  {% empty %}
  <div class="alert w-75 mx-auto text-center my-5">
    <h4>No content at the moment</h4>
  </div>
  {% endfor %}
</div>
{% endblock %}
