{% extends 'layouts/base.html' %} {% load static %} {% block title %} | Contact
me {% endblock %} {% block content %}
<div class="container-fluid photos">
  <div class="row justify-content-center">
    <div class="col-md-6 pt-4" data-aos="fade-up">
      <h2 class="text-white mb-4">Contact Me</h2>
      <div class="row">
        <div class="col-md-12">
          <p class="mb-5">
            Lorem ipsum dolor sit amet, consectetur
            <a href="contact.html#">adipisicing</a> elit. Ipsa explicabo quasi
            cum, laudantium neque at veniam itaque atque
            <a href="contact.html#">necessitatibus</a> temporibus! Beatae sit
            soluta magni neque autem, suscipit dolorem, quo alias.
          </p>
          <div class="row">
            <div class="col-md-12">
              <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-white" for="fname">First Name</label>
                    <input
                      type="text"
                      id="fname"
                      name="fname"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="text-white" for="lname">Last Name</label>
                    <input
                      type="text"
                      id="lname"
                      name="lname"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-white" for="email">Email</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-white" for="subject">Subject</label>
                    <input
                      type="subject"
                      id="subject"
                      name="subject"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row form-group mb-5">
                  <div class="col-md-12">
                    <label class="text-white" for="message">Message</label>
                    <textarea
                      name="message"
                      id="message"
                      name="message"
                      cols="30"
                      rows="7"
                      class="form-control"
                      placeholder="Write your notes or questions here..."
                    ></textarea>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <input
                      type="submit"
                      value="Send"
                      class="btn btn-primary btn-md text-white"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if errors %}
<div id="errors">
  <style>
    .remove {
      display: none;
    }
    .error {
      position: fixed;
      top: 0;
      left: 20%;
      right: 20%;
      background-color: hsl(0, 88%, 90%);
      padding: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      border: 1px solid hsl(0, 100%, 40%);
    }

    .error__list--item {
      color: hsl(0, 100%, 40%);
    }
  </style>
  <div class="error">
    <ul class="error__list">
      {% for name, error in errors %}
      <li class="error__list--item">
        {{ name }}
        <ul>
          {% for err in error %}
          <li>{{ err }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>

  <script>
    const errorDiv = document.getElementById("errors");
    setTimeout(() => errorDiv.classList.add("remove"), 5000);
  </script>
</div>
{% endif %} {% endblock %}
