{% extends 'layouts/base.html' %} {% load static %} {% block title %} | Welcome
to view beautiful images {% endblock %} {% block content %}

<div class="container-fluid photos">
  <div class="row align-items-stretch">
    {% for category in categories %}
    <div class="col-md-3" data-aos="fade-up">
      <a href="{% url 'category' category.id %}" class="d-block photo-item">
        <img src="{{ category.url }}" alt="Image" class="img-fluid" />
        <div class="photo-text-more">
          <div class="photo-text-more">
            <h3 class="heading">{{ category.name }}</h3>
            <span class="meta">{{ category.photo_count }} Photos</span>
          </div>
        </div>
      </a>
    </div>
    {% empty %}
    <div class="alert w-75 mx-auto text-center my-5">
      <h4>No content at the moment</h4>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
